{% extends 'layout/base.html' %}
{% load static %}
{% load my_tags %}
{% block title %}Products{% endblock %}
{% block content %}
    <main class="main">
        <div class="page-header text-center"
             style="background-image: url('{% static 'assets/images/page-header-bg.jpg' %}')">
            <div class="container">
                <h1 class="page-title">Grid 3 Columns<span>Shop</span></h1>
            </div><!-- End .container -->
        </div><!-- End .page-header -->
        <nav aria-label="breadcrumb" class="breadcrumb-nav mb-2">
            <div class="container">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                    <li class="breadcrumb-item"><a href="#">Shop</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Grid 3 Columns</li>
                </ol>
            </div><!-- End .container -->
        </nav><!-- End .breadcrumb-nav -->

        <div class="page-content">
            <div class="container">
                <div class="row">
                    <div class="col-lg-9">
                        <div class="toolbox">
                            <div class="toolbox-left">
                                <div class="toolbox-info">
                                    Showing
                                    <span>{{ page_obj.start_index }}-{{ page_obj.end_index }} of {{ page_obj.paginator.count }}</span>
                                    Products
                                </div><!-- End .toolbox-info -->
                            </div><!-- End .toolbox-left -->

                            <div class="toolbox-right">
                                <div class="toolbox-sort">
                                    <label for="sortby">Sort by:</label>
                                    <div class="select-custom">
                                        <select name="sortby" id="sortby" class="form-control">
                                            <option value="popularity" selected="selected">Most Popular</option>
                                            <option value="rating">Most Rated</option>
                                            <option value="date">Date</option>
                                        </select>
                                    </div>
                                </div><!-- End .toolbox-sort -->

                            </div><!-- End .toolbox-right -->
                        </div><!-- End .toolbox -->

                        <div class="products mb-3">
                            <div class="row justify-content-center">
                                {% for product in products %}
                                    <div class="col-6 col-md-4 col-lg-4">
                                        <div class="product product-7 text-center">
                                            <figure class="product-media">
                                                {% if product.is_new %}
                                                    <span class="product-label label-new">New</span>
                                                {% endif %}
                                                {% if product.is_discount %}
                                                    <span class="product-label label-new">Sale</span>
                                                {% endif %}
                                                <a href="{% url 'products:detail' pk=product.id %}">
                                                    <img src="{{ product.image.url }}"
                                                         alt="Product image" class="product-image">
                                                </a>

                                                <div class="product-action-vertical">
                                                    <a href="#"
                                                       class="btn-product-icon btn-wishlist btn-expandable"><span>add to wishlist</span></a>
                                                    <a href="popup/quickView.html"
                                                       class="btn-product-icon btn-quickview" title="Quick view"><span>Quick view</span></a>

                                                </div><!-- End .product-action-vertical -->

                                                {% in_basket request product.id as is_true %}
                                                {% if is_true %}
                                                    <div class="product-action">
                                                        <a href="{% url 'basket:basket_remove' product_id=product.id %}"
                                                           class="btn-product btn-cart"><span>Remove from cart</span></a>
                                                    </div><!-- End .product-action -->
                                                {% else %}
                                                    <div class="product-action">
                                                        <a href="{% url 'basket:basket_add' product_id=product.id %}"
                                                           class="btn-product btn-cart"><span>add to cart</span></a>
                                                    </div><!-- End .product-action -->
                                                {% endif %}
                                            </figure><!-- End .product-media -->

                                            <div class="product-body">
                                                <div class="product-cat">
                                                    {% for cat in product.categories.all %}
                                                        <a href="#">{{ cat.title }}</a>
                                                    {% endfor %}
                                                </div><!-- End .product-cat -->
                                                <h3 class="product-title"><a href="product.html">
                                                    {{ product.title }}
                                                </a></h3><!-- End .product-title -->
                                                <div class="product-price">
                                                    ${{ product.price }}
                                                </div><!-- End .product-price -->
                                                <div class="ratings-container">
                                                    <div class="ratings">
                                                        <div class="ratings-val" style="width: 20%;"></div>
                                                        <!-- End .ratings-val -->
                                                    </div><!-- End .ratings -->
                                                    <span class="ratings-text">( 2 Reviews )</span>
                                                </div><!-- End .rating-container -->


                                            </div><!-- End .product-body -->
                                        </div><!-- End .product -->
                                    </div><!-- End .col-sm-6 col-lg-4 -->
                                {% endfor %}


                            </div><!-- End .row -->
                        </div><!-- End .products -->

                        <nav aria-label="Page navigation">
                            <ul class="pagination justify-content-center">
                                {% if page_obj.has_previous %}
                                    <li class="page-item">
                                        <a class="page-link page-link-prev"
                                           onclick="addUrlParameter('page', {{ page_obj.previous_page_number }})"
                                           aria-label="Previous" tabindex="-1"
                                           aria-disabled="true">
                                        <span aria-hidden="true">
                                            <i class="icon-long-arrow-left"></i>Prev
                                        </span>
                                        </a>
                                    </li>
                                {% endif %}
                                {% for page in page_obj.paginator.page_range %}
                                    <li class="page-item active" aria-current="page">
                                        <a class="page-link"
                                           onclick="addUrlParameter('page', {{ page }})">{{ page }}</a>
                                    </li>
                                {% endfor %}
                                {% if page_obj.has_next %}
                                    <li class="page-item">
                                        <a class="page-link page-link-next"
                                           onclick="addUrlParameter('page', {{ page_obj.next_page_number }})"
                                           aria-label="Next">
                                            Next <span aria-hidden="true"><i class="icon-long-arrow-right"></i></span>
                                        </a>
                                    </li>
                                {% endif %}
                            </ul>
                        </nav>
                    </div><!-- End .col-lg-9 -->
                    {% include 'products/filtering.html' %}
                </div><!-- End .row -->
            </div><!-- End .container -->
        </div><!-- End .page-content -->
    </main><!-- End .main -->
{% endblock %}